<header class="header bg-warning" id="header">
	<div class="container">
		<div class="row header__inner">
			<div class="col-lg-3 col-md-4 col-sm-12 header_logo">
				<div class="header_img" id="header_img">
					{{ resize.webp('img/upload/logo.png', 'Tinyone') }}
				</div>
			</div>
			<div class="col-lg-6 col-md-4 ml-auto header_navbar" id="header-fixed">
				<nav class="navbar header__nav navbar-expand-md justify-content-end navbar-light mt-0" id='nav'>
					<button class="navbar-toggler header_toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="header_navbar collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto justify-content-end">
						<li class="nav-item">
							<a class="nav-link text-dark" data-scroll="#features" href="#">Features</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" data-scroll="#touch" href="#">Support</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" data-scroll="#home" href="#">Blog</a>
						</li>
					</ul>
				</div>
				</nav>
			</div>
	</div>
</header>
